@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
    background-color: #dedede;
}

.center {
    text-align: center;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float:right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

h1 {
    font-size: 3.7em;
}