<div class="col-sm-8">
<h1>Listing All Categories</h1>
<%= will_paginate %>
<% @categories.each do |category| %>
   <ul class="listing">
            <div class="well">
              <li class="article-title">
             <%= link_to category.name, category_path(category) %>
              </li>
              <li><small><%= pluralize(category.articles.count, "article") %></small></li>
            </div>
   </ul>
<% end %>
<%= will_paginate %>
</div>