    <footer class="container-fluid">
        <small>
            Copyright &copy; <a href="http://www.shispare.com">Powered by Shispare</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>